.inner{
background-color: black;
z-index: -10;

    .slides{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: var(--background-rgb);
        // background-color: red;
        width: 100vw;
        height: 100vh;
    }
}
